.canvas-background {
    width: 100%;
    background-color: rgb(46, 253, 219);
    background-image: radial-gradient(
        circle,
        rgb(12, 77, 78),
        rgb(6, 65, 70),
        rgb(5, 53, 61),
        rgb(5, 41, 51),
        rgb(6, 30, 40)
    );
}

@media (max-width: 992px) {
    .canvas-background {
        width: unset;
    }
}
